* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

:root {
  /* default error color */
  --color-error: red;
  /* default warning color */
  --color-warning: yellow;

  --color-focus-background: color-mix(in srgb, var(--color-focus) 15%, transparent);

  --color-background-details: var(--color-background-main);
  --color-background-property: none;
  --color-background-property-label: none;
  --color-background-property-content: var(--color-background-content);
  --color-background-property-input: none;

  --min-propety-label-height: 1.5em;
}

[hidden] {
  display: none !important;
}

object {
  width: 100%;
  height: 100%;
}

.lm_goldenlayout,
body {
  background-color: var(--color-background-main);
  color: var(--color-text);
  user-select: none;
}

.lm_content {
  background-color: var(--color-background-content);
}

div[panel] .lm_close {
  display: none;
}

*[view] {
  padding: 0.5em;
  padding-bottom: 0em;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-medium) var(--color-background-content);
}

*[view="ViewRender"],
*[view="ViewPreview"] {
  padding: 0em;
  overflow: hidden;
}

img {
  border: 1px dashed var(--color-text);
}

input::placeholder {
  color: var(--color-medium);
}

.lm_splitter:hover {
  background: var(--color-background-content);
}

.lm_splitter.lm_dragging {
  background: var(--color-background-main);
}

.lm_selected .lm_header {
  background-color: var(--color-background-content);
}

.lm_tab:hover,
.lm_tab .lm_active,
.lm_dragProxy .lm_tab {
  background-color: var(--color-background-content);
}

.lm_header {
  background-color: var(--color-background-main);
}

/* Controls */

.lm_header .lm_controls .lm_tabdropdown:before {
  color: var(--color-text);
}

/* Drag & Drop */

.lm_dropTargetIndicator {
  outline: 1px dashed var(--color-dragdrop-outline);
  background-color: var(--color-background-main);
}


/* Tree Control */

ul.tree {
  list-style: none;
}

ul.tree fieldset {
  display: inline;
  border: none;
}

ul.tree li {
  white-space: nowrap;
}

ul.tree li[attributes~="inactive"]>input,
ul.tree li[attributes~="inactive"]>fieldset>input {
  text-decoration: line-through;
}

ul.tree li[attributes~="GraphInstance"]>fieldset>input {
  font-style: italic;
}

ul.tree ul {
  padding-left: 1em;
}

ul.tree fieldset[disabled] {
  pointer-events: none;
}

ul.tree input[type=checkbox] {
  appearance: none;
}

ul.tree input[type=checkbox]:checked::before {
  content: "▼";
}

ul.tree input[type=checkbox]::before {
  content: "►";
}

ul.tree input[type="checkbox"]:checked~ul {
  display: block;
}

ul.tree input[type="checkbox"]~ul {
  display: none;
}

ul.tree input[type="checkbox"]:has(+ fieldset>*[icon]) {
  display: none;
}

/* Table */

table.sortable {
  width: 100%;
}

table.sortable th {
  text-align: left;
}

table.sortable th>span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

table.sortable th>span>input {
  height: 0px;
  top: -1em;
  display: inline-block;
  position: relative;
  color: var(--color-text);
}

table.sortable th>span>input[value="up"]::before {
  content: "▲";
}

table.sortable th>span>input[value="down"]::before {
  content: "▼";
}

table.sortable input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  cursor: text;
}

table.sortable .selected input {
  color: var(--color-highlight);
  font-weight: bold;
}

table.sortable td {
  vertical-align: bottom;
}

table.sortable td>input:disabled {
  /* TODO: indicate tha]t enabled (not disabled) fields can be doubleclicked to alter content */
  cursor: default;
}

.table.error {
  outline: 1px outset var(--color-error);
}

/* Text input */

ul.tree .selected>input {
  color: var(--color-highlight);
  font-weight: bold;
}

ul.tree .selected>:not(ul.tree) * {
  color: var(--color-highlight);
  font-weight: bold;
}

/* Components */

input {
  background-color: var(--color-background-content);
  color: var(--color-text);
  border: none;
}

/* fix autofill colors, fuck chromium... */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  transition: color calc(infinity * 1s) step-end, background-color calc(infinity * 1s) step-end;
}

.hide-carret {
  caret-color: transparent;
}

*:focus {
  outline: 1px outset var(--color-focus);
  /* background-color: var(--color-focus); */
}

ul.tree li:has(>fieldset .error) {
  outline: 1px outset var(--color-error);
}

input[type="number"] {
  background-color: var(--color-background-content);
  color: var(--color-text);
  /* border-bottom: 1px solid var(--color-text); */
  text-align: center;
  width: 6em;
}

label {
  padding-right: 0.5em;
}

/* Details */

details:not(details details) {
  anchor-name: --details;
  anchor-scope: --details;
  padding-right: 2ch;
  background-color: var(--color-background-details);
}

details>summary {
  box-sizing: border-box;
  min-height: var(--min-propety-label-height);
  padding: 2px;
  padding-left: 0;
  align-content: center;
}

details[open]:not(details details),
details[open]:has(+ *) {
  padding-bottom: 4px;
}

details>div,
details>fudge-number {
  padding-left: 1em;
}

details.selected>summary {
  color: var(--color-highlight);
  font-weight: bold;
}

details[key=ComponentLight] fudge-color input[type=range] {
  display: none;
}

/* Dialog */

dialog {
  background-color: var(--color-background-main);
  border: 1px solid var(--color-bright);
  color: var(--color-text);
  box-shadow: 0px 0px 10px 5px var(--color-background-main);
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 1000;
  padding: 2em;
  user-select: none;
}

dialog>div#content {
  background-color: var(--color-background-content);
}

dialog>h1 {
  color: var(--color-signal);
  /* height: 2em; */
}

dialog>footer>p {
  padding-top: 2em;
  padding-bottom: 1em;
}

/* Select */

select {
  border-width: 0px;
  background-color: #00000000;
  color: var(--color-text);
}

option {
  background-color: var(--color-background-content);
  color: var(--color-text);
}

/* Button */

button {
  border: 1px outset var(--color-medium);
  background-color: var(--color-background-main);
  color: var(--color-text);
  cursor: pointer;
}

button:active {
  border: 1px inset var(--color-medium);
}

.buttonPlayback {
  min-width: 30px;
  width: 60px;
  height: 25px;
}

.btn-subtle {
  border: none;
  background-color: transparent;
  color: var(--color-medium);
  min-width: 14px;
}

.btn-subtle:active {
  border: none;
  transform: translateY(1px);
}

.btn-subtle:hover {
  color: var(--color-signal);
}

.property {
  background-color: var(--color-background-property);
  anchor-name: --property;
  anchor-scope: --property;
}

.property>summary>.property-menu,
.property>.property-menu {
  position: absolute;
  position-anchor: --property;
  right: anchor(--details right, anchor(right));
  top: anchor(top);
  width: 2ch;
}

/* menu */

.menu-toggle {
  cursor: pointer;
}

.menu-toggle:focus {
  outline-offset: -1px;
}

.menu-list {
  margin: 0;
  padding: 0;
  inset: auto;
  border: none;

  box-sizing: border-box;
  overflow-y: hidden;
  background: var(--color-background-content);
  outline: 1px solid var(--color-medium);
  outline-offset: -1px;
  width: max-content;
  height: max-content;
  position: absolute;
  left: anchor(right);
  top: anchor(top);
  position-try-fallbacks: flip-inline, flip-block, flip-inline flip-block;
  position-visibility: anchors-visible;
}

.menu-item {
  display: block;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.2em;
  text-align: left;
  height: 1.6em;
}

.menu-item:active {
  border: none;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:has(+.menu-list:hover),
.menu-item:has(+.menu-list:focus-within) {
  background: var(--color-background-main);
}

/* .property-menu:hover, */
/* .property-menu:focus-within, */
.property:has(>summary>.menu-container:hover),
.property:has(>summary>.menu-container:focus-within),
.property:has(>.menu-container:hover),
.property:has(>.menu-container:focus-within) {
  background-color: var(--color-focus-background)
}

/* custom elements */

fudge-stepper>.content>span[name="sign"],
fudge-digit {
  font-family: monospace;
}

fudge-number>input[type="text"] {
  font-family: monospace;
  text-align: left;
}

fudge-initializer>.content {
  --icon-actions: "<undefined>";
  --icon-width: fit-content;
}

fudge-initializer>.content>.menu-container>.menu-list {
  left: anchor(left);
}

fudge-initializer,
fudge-boolean,
fudge-number,
fudge-stepper,
fudge-textinput,
fudge-select,
fudge-comboselect,
fudge-color,
fudge-output,
custom-vector2,
custom-vector3,
custom-matrix3x3,
custom-matrix4x4 {
  display: flex;
  flex-wrap: wrap;
}

.fudge-element>label {
  flex: 1 1 50%;
  background-color: var(--color-background-property-label);
  padding: 0;
  /* word-break: break-all; */
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
}

.fudge-element>label:not(.fudge-element .fudge-element>label) {
  box-sizing: border-box;
  min-height: var(--min-propety-label-height);
  padding: 2px;
}

.fudge-element>.content {
  flex: 1 1 50%;
  background-color: var(--color-background-property-content);
}

.fudge-element>.content:not(.fudge-element .fudge-element>.content) {
  box-sizing: border-box;
  padding: 2px;
}

fudge-number input,
fudge-textinput input,
fudge-comboselect input,
fudge-select select {
  width: 100%;
  text-overflow: ellipsis;
  min-width: 12ch;
}

fudge-color>.content {
  display: inline-flex;
}

fudge-color input[type="color"] {
  flex: 1 1 50%;
  height: 1.5em;
  width: 0;
  min-width: 4ch;
}

fudge-color input[type="range"] {
  flex: 1 1 50%;
  height: 1.5em;
  width: 0;
  min-width: 8ch;
}

.fudge-element input,
.fudge-element select,
fudge-digit,
fudge-stepper>.content>span[name="exp"] {
  background-color: var(--color-background-property-input);
}

/* custom vector */

custom-vector2,
custom-vector3 {
  container-type: inline-size;
}

custom-vector2>.content,
custom-vector3>.content {
  display: inline-grid;
  column-gap: 1ch;
  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 1fr);
}

@container (width < 24ch) {
  custom-vector2>label {
    align-content: baseline !important;
    ;
  }

  custom-vector2>.content {
    grid-template-columns: 1fr;
  }
}

@container (width < 36ch) {
  custom-vector3>label {
    align-content: baseline !important;
    ;
  }

  custom-vector3>.content {
    grid-template-columns: 1fr;
  }
}

custom-vector2 fudge-stepper,
custom-vector3 fudge-stepper {
  display: block;
}

/* custom matrix */

custom-matrix3x3,
custom-matrix4x4 {
  container: custom-matrix / inline-size;
}

custom-matrix3x3>label,
custom-matrix4x4>label {
  align-content: baseline !important;
}

@container custom-matrix (width < 68ch) {
  custom-matrix3x3>label {
    flex: 1 1 100% !important;
    align-content: center !important;
  }
}

@container custom-matrix (width < 96ch) {
  custom-matrix4x4>label {
    flex: 1 1 100% !important;
    align-content: center !important;
  }
}

custom-matrix3x3>.content>.fudge-element>label,
custom-matrix4x4>.content>.fudge-element>label {
  flex: 0 1 fit-content;
  text-align: right;
  padding-right: 1ch;
}

custom-matrix3x3>.content>.fudge-element>label::after,
custom-matrix4x4>.content>.fudge-element>label::after {
  content: "translation";
  visibility: hidden;
  height: 0;
  display: block;
  overflow: hidden;
}

@container custom-matrix (width < 36ch) {
  custom-matrix3x3>.content>.fudge-element>label {
    text-align: left;
    align-content: baseline;
  }
}

@container custom-matrix (width < 48ch) {
  custom-matrix4x4>.content>.fudge-element>label {
    text-align: left;
    align-content: baseline;
  }
}