* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

:root {
  /* default error color */
  --color-error: red;
  /* default warning color */
  --color-warning: yellow;
}

[hidden] {
  display: none !important;
}


object {
  width: 100%;
  height: 100%;
}

.lm_goldenlayout,
body {
  background-color: var(--color-background-main);
  color: var(--color-text);
  user-select: none;
}

.lm_content {
  background-color: var(--color-background-content);
}

div[panel] .lm_close {
  display: none;
}

*[view] {
  padding: 0.5em;
  padding-bottom: 0em;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-medium) var(--color-background-content);
  /* scrollbar-gutter: stable; */
  anchor-name: --view;
  anchor-scope: --view;
}

*[view="ViewRender"],
*[view="ViewPreview"] {
  padding: 0em;
  overflow: hidden;
}

img {
  border: 1px dashed var(--color-text);
}

input::placeholder {
  color: var(--color-medium);
}

.lm_splitter:hover {
  background: var(--color-background-content);
}

.lm_splitter.lm_dragging {
  background: var(--color-background-main);
}

.lm_selected .lm_header {
  background-color: var(--color-background-content);
}

.lm_tab:hover,
.lm_tab .lm_active,
.lm_dragProxy .lm_tab {
  background-color: var(--color-background-content);
}

.lm_header {
  background-color: var(--color-background-main);
}

/* Controls */

.lm_header .lm_controls .lm_tabdropdown:before {
  color: var(--color-text);
}

/* Drag & Drop */

.lm_dropTargetIndicator {
  outline: 1px dashed var(--color-dragdrop-outline);
  background-color: var(--color-background-main);
}


/* Tree Control */

ul.tree {
  list-style: none;
}

ul.tree fieldset {
  display: inline;
  border: none;
}

ul.tree li {
  white-space: nowrap;
}

ul.tree li[attributes~="inactive"]>input,
ul.tree li[attributes~="inactive"]>fieldset>input {
  text-decoration: line-through;
}

ul.tree li[attributes~="GraphInstance"]>fieldset>input {
  font-style: italic;
}

ul.tree ul {
  padding-left: 1em;
}

ul.tree fieldset[disabled] {
  pointer-events: none;
}

ul.tree input[type=checkbox] {
  appearance: none;
}

ul.tree input[type=checkbox]:checked::before {
  content: "▼";
}

ul.tree input[type=checkbox]::before {
  content: "►";
}

ul.tree input[type="checkbox"]:checked~ul {
  display: block;
}

ul.tree input[type="checkbox"]~ul {
  display: none;
}

ul.tree input[type="checkbox"]:has(+ fieldset>*[icon]) {
  display: none;
}

/* Table */

table.sortable {
  width: 100%;
}

table.sortable th {
  text-align: left;
}

table.sortable th>span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

table.sortable th>span>input {
  height: 0px;
  top: -1em;
  display: inline-block;
  position: relative;
  color: var(--color-text);
}

table.sortable th>span>input[value="up"]::before {
  content: "▲";
}

table.sortable th>span>input[value="down"]::before {
  content: "▼";
}

table.sortable input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  cursor: text;
}

table.sortable .selected input {
  color: var(--color-highlight);
  font-weight: bold;
}

table.sortable td {
  vertical-align: bottom;
}

table.sortable td>input:disabled {
  /* TODO: indicate tha]t enabled (not disabled) fields can be doubleclicked to alter content */
  cursor: default;
}

.table.error {
  outline: 1px outset var(--color-error);
}

/* Text input */

ul.tree .selected>input {
  color: var(--color-highlight);
  font-weight: bold;
}

ul.tree .selected>:not(ul.tree) * {
  color: var(--color-highlight);
  font-weight: bold;
}

/* Components */

input {
  background-color: var(--color-background-content);
  color: var(--color-text);
  border: none;
}

/* fix autofill colors, fuck chromium... */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  transition: color calc(infinity * 1s) step-end, background-color calc(infinity * 1s) step-end;
}

.hide-carret {
  caret-color: transparent;
}

*:focus {
  outline: 1px outset var(--color-focus);
  /* background-color: var(--color-focus); */
}

ul.tree li:has(>fieldset .error) {
  outline: 1px outset var(--color-error);
}

input[type="number"] {
  background-color: var(--color-background-content);
  color: var(--color-text);
  /* border-bottom: 1px solid var(--color-text); */
  text-align: center;
  width: 6em;
}

label {
  padding-right: 0.5em;
  /* text-decoration: wavy; */
  /* text-shadow: 1px 1px var(--color-background-main) ; */
}

/* set (details) */

/* details details {
  padding-left: 1em;
} */
details>div,
details>fudge-number {
  padding-left: 1em;
}

details.selected>summary {
  color: var(--color-highlight);
  font-weight: bold;
}

details[key=ComponentLight] fudge-color input[type=range] {
  display: none;
}

/* Dialog */

dialog {
  background-color: var(--color-background-main);
  border: 1px solid var(--color-bright);
  color: var(--color-text);
  box-shadow: 0px 0px 10px 5px var(--color-background-main);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  padding: 2em;
  user-select: none;
}

dialog>div#content {
  background-color: var(--color-background-content);
}

dialog>h1 {
  color: var(--color-signal);
  /* height: 2em; */
}

dialog>footer>p {
  padding-top: 2em;
  padding-bottom: 1em;
}

/* Select */

select {
  border-width: 0px;
  background-color: #00000000;
  color: var(--color-text);
}

option {
  background-color: var(--color-background-content);
  color: var(--color-text);
}

/* Button */

button {
  border: 1px outset var(--color-medium);
  background-color: var(--color-background-main);
  color: var(--color-text);
  cursor: pointer;
}

button:active {
  border: 1px inset var(--color-medium);
}

.buttonPlayback {
  min-width: 30px;
  width: 60px;
  height: 25px;
}

.btn-subtle {
  border: none;
  background-color: transparent;
  color: var(--color-medium);
  min-width: 14px;
}

.btn-subtle:active {
  border: none;
  transform: translateY(1px);
}

.btn-subtle:hover {
  color: var(--color-signal);
}

.property-anchor {
  anchor-name: --property;
  anchor-scope: --property;
}

.property-menu {
  position: absolute;
  position-anchor: --property;
  right: anchor(right);
  top: anchor(top);
  margin-right: 1em;
}

*[view] .property-menu {
  right: anchor(--view right);
}

/* menu */

.menu-toggle {
  cursor: pointer;
}

.menu-toggle:focus {
  outline-offset: -1px;
}

.menu-list {
  margin: 0;
  padding: 0;
  inset: auto;
  border: none;

  box-sizing: border-box;
  background: var(--color-background-content);
  outline: 1px solid var(--color-medium);
  outline-offset: -1px;
  width: max-content;
  height: max-content;
  position: absolute;
  left: anchor(right);
  top: anchor(top);
  position-try-fallbacks: flip-inline, flip-block, flip-inline flip-block;
}

.menu-item {
  display: block;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.2em;
  text-align: left;
  height: 1.6em;
}

.menu-item:active {
  border: none;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:has(+.menu-list:hover),
.menu-item:has(+.menu-list:focus-within) {
  background: var(--color-background-main);
}

.property:has(>.menu-container:hover),
.property:has(>.menu-container:focus-within) {
  background-color: color-mix(in srgb, var(--color-background-main) 75%, transparent);
}

/* standard fudge elements */

fudge-stepper {
  display: block;
}

fudge-boolean,
fudge-color,
fudge-select,
fudge-textinput,
fudge-output,
fudge-comboselect,
fudge-number,
fudge-initializer {
  display: flex;
  align-items: center;
}

fudge-comboselect {
  align-items: center;
}

fudge-comboselect>label {
  padding-right: 0;
  display: flex;
  align-items: center;
}

fudge-stepper>span[name="sign"],
fudge-digit {
  font-family: monospace;
}

fudge-number>input[type="text"] {
  font-family: monospace;
  text-align: left;
}

/* custom elements */
custom-vector2 {
  text-align: right;
  display: grid;
  column-gap: 1em;
  grid-template-columns: max-content max-content max-content max-content;
  /* grid-template-columns: max-content 8em 8em; */
}

custom-vector3 {
  text-align: right;
  display: grid;
  column-gap: 1em;
  grid-template-columns: max-content max-content max-content max-content;
  /* grid-template-columns: max-content 8em 8em 8em; */
}

custom-matrix4x4 {
  text-align: center;
  display: grid;
  column-gap: 1em;
  grid-template-columns: min-content min-content min-content min-content;
  grid-template-rows: min-content min-content min-content min-content;
}

custom-matrix3x3 {
  text-align: center;
  display: grid;
  column-gap: 1em;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content min-content min-content min-content
}

custom-matrix4x4>label,
custom-matrix3x3>label {
  text-align: left
}

custom-matrix4x4>span.row-vector,
custom-matrix3x3>span.row-vector {
  text-align: right
}

custom-matrix4x4>div.row-vector,
custom-matrix3x3>div.row-vector {
  display: contents;
}