* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

:root {
  /* default error color */
  --color-error: red;
  /* default warning color */
  --color-warning: yellow;

  --color-focus-background: color-mix(in srgb, var(--color-focus) 15%, transparent);
}

[hidden] {
  display: none !important;
}

object {
  width: 100%;
  height: 100%;
}

.lm_goldenlayout,
body {
  background-color: var(--color-background-main);
  color: var(--color-text);
  user-select: none;
}

.lm_content {
  background-color: var(--color-background-content);
}

div[panel] .lm_close {
  display: none;
}

*[view] {
  padding: 0.5em;
  padding-bottom: 0em;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-medium) var(--color-background-content);
}

*[view="ViewRender"],
*[view="ViewPreview"] {
  padding: 0em;
  overflow: hidden;
}

img {
  border: 1px dashed var(--color-text);
}

input::placeholder {
  color: var(--color-medium);
}

.lm_splitter:hover {
  background: var(--color-background-content);
}

.lm_splitter.lm_dragging {
  background: var(--color-background-main);
}

.lm_selected .lm_header {
  background-color: var(--color-background-content);
}

.lm_tab:hover,
.lm_tab .lm_active,
.lm_dragProxy .lm_tab {
  background-color: var(--color-background-content);
}

.lm_header {
  background-color: var(--color-background-main);
}

/* Controls */

.lm_header .lm_controls .lm_tabdropdown:before {
  color: var(--color-text);
}

/* Drag & Drop */

.lm_dropTargetIndicator {
  outline: 1px dashed var(--color-dragdrop-outline);
  background-color: var(--color-background-main);
}


/* Tree Control */

ul.tree {
  list-style: none;
}

ul.tree fieldset {
  display: inline;
  border: none;
}

ul.tree li {
  white-space: nowrap;
}

ul.tree li[attributes~="inactive"]>input,
ul.tree li[attributes~="inactive"]>fieldset>input {
  text-decoration: line-through;
}

ul.tree li[attributes~="GraphInstance"]>fieldset>input {
  font-style: italic;
}

ul.tree ul {
  padding-left: 1em;
}

ul.tree fieldset[disabled] {
  pointer-events: none;
}

ul.tree input[type=checkbox] {
  appearance: none;
}

ul.tree input[type=checkbox]:checked::before {
  content: "▼";
}

ul.tree input[type=checkbox]::before {
  content: "►";
}

ul.tree input[type="checkbox"]:checked~ul {
  display: block;
}

ul.tree input[type="checkbox"]~ul {
  display: none;
}

ul.tree input[type="checkbox"]:has(+ fieldset>*[icon]) {
  display: none;
}

/* Table */

table.sortable {
  width: 100%;
}

table.sortable th {
  text-align: left;
}

table.sortable th>span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

table.sortable th>span>input {
  height: 0px;
  top: -1em;
  display: inline-block;
  position: relative;
  color: var(--color-text);
}

table.sortable th>span>input[value="up"]::before {
  content: "▲";
}

table.sortable th>span>input[value="down"]::before {
  content: "▼";
}

table.sortable input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  cursor: text;
}

table.sortable .selected input {
  color: var(--color-highlight);
  font-weight: bold;
}

table.sortable td {
  vertical-align: bottom;
}

table.sortable td>input:disabled {
  /* TODO: indicate tha]t enabled (not disabled) fields can be doubleclicked to alter content */
  cursor: default;
}

.table.error {
  outline: 1px outset var(--color-error);
}

/* Text input */

ul.tree .selected>input {
  color: var(--color-highlight);
  font-weight: bold;
}

ul.tree .selected>:not(ul.tree) * {
  color: var(--color-highlight);
  font-weight: bold;
}

/* Components */

input {
  background-color: var(--color-background-content);
  color: var(--color-text);
  border: none;
}

/* fix autofill colors, fuck chromium... */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  transition: color calc(infinity * 1s) step-end, background-color calc(infinity * 1s) step-end;
}

.hide-carret {
  caret-color: transparent;
}

*:focus {
  outline: 1px outset var(--color-focus);
  /* background-color: var(--color-focus); */
}

ul.tree li:has(>fieldset .error) {
  outline: 1px outset var(--color-error);
}

input[type="number"] {
  background-color: var(--color-background-content);
  color: var(--color-text);
  /* border-bottom: 1px solid var(--color-text); */
  text-align: center;
  width: 6em;
}

label {
  padding-right: 0.5em;
}

/* Details */

details>summary {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  user-select: text;
}

details>summary>span {
  flex: 0 1 content;
  overflow: hidden;
  text-overflow: ellipsis;
}

details>summary::before {
  content: "►";
}

details[open]>summary::before {
  content: "▼";
}

details>div,
details>fudge-number {
  padding-left: 1em;
}

details.selected>summary {
  color: var(--color-highlight);
  font-weight: bold;
}

details[key=ComponentLight] fudge-color input[type=range] {
  display: none;
}

/* Dialog */

dialog {
  background-color: var(--color-background-main);
  border: 1px solid var(--color-bright);
  color: var(--color-text);
  box-shadow: 0px 0px 10px 5px var(--color-background-main);
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 1000;
  padding: 2em;
  user-select: none;
}

dialog>div#content {
  background-color: var(--color-background-content);
}

dialog>h1 {
  color: var(--color-signal);
  /* height: 2em; */
}

dialog>footer>p {
  padding-top: 2em;
  padding-bottom: 1em;
}

/* Select */

select {
  border-width: 0px;
  background-color: #00000000;
  color: var(--color-text);
}

option {
  background-color: var(--color-background-content);
  color: var(--color-text);
}

/* Button */

button {
  border: 1px outset var(--color-medium);
  background-color: var(--color-background-main);
  color: var(--color-text);
  cursor: pointer;
}

button:active {
  border: 1px inset var(--color-medium);
}

.buttonPlayback {
  min-width: 30px;
  width: 60px;
  height: 25px;
}

.btn-subtle {
  border: none;
  background-color: transparent;
  color: var(--color-medium);
  min-width: 14px;
}

.btn-subtle:active {
  border: none;
  transform: translateY(1px);
}

.btn-subtle:hover {
  color: var(--color-signal);
}

/* menu */

.menu-toggle {
  cursor: pointer;
}

.menu-toggle:focus {
  outline-offset: -1px;
}

.menu-list {
  margin: 0;
  padding: 0px;
  inset: auto;
  border: none;

  box-sizing: border-box;
  overflow-y: hidden;
  background: var(--color-background-content);
  outline: 1px solid var(--color-medium);
  outline-offset: -1px;
  width: max-content;
  height: max-content;
  position: absolute;
  left: anchor(right);
  top: anchor(top);
  position-try-fallbacks: flip-inline, flip-block, flip-inline flip-block;
  position-visibility: anchors-visible;
}

.menu-list:popover-open {
  display: grid;
}

.menu-item {
  display: block;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  padding: 2px;
  padding-right: 5px;
  text-align: left;
  overflow: hidden;
}

.menu-item:active {
  border: none;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:has(+.menu-list:hover),
.menu-item:has(+.menu-list:focus-within) {
  background: var(--color-background-main);
}

.menu-list>fudge-comboselect button {
  display: none;
}

/* .property-menu:hover, */
/* .property-menu:focus-within, */
.property:has(>summary>.menu-container:hover),
.property:has(>summary>.menu-container:focus-within),
.property:has(>.menu-container:hover),
.property:has(>.menu-container:focus-within) {
  background-color: var(--color-focus-background)
}

.property>summary>.property-menu,
.property>.property-menu {
  order: 1;
  margin-left: auto;
  width: 2ch;
  /* position: absolute; */
  /* position-anchor: --property; */
  /* right: anchor(--details right, anchor(right)); */
  /* top: anchor(top); */
}

/* custom elements */

.fudge-element>label {
  box-sizing: border-box;
  flex: 0 1 content;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
  user-select: text;
  padding: 0;
  margin-right: 1.5ch;
}

.fudge-element>.content {
  flex: 1 0 content;
}

.fudge-element>.content>*:not(fudge-stepper>.content>input) {
  background: none;
}

fudge-initializer,
fudge-boolean,
fudge-number,
fudge-stepper,
fudge-textinput,
fudge-select,
fudge-comboselect,
fudge-color,
fudge-output,
custom-vector2,
custom-vector3 {
  display: flex;
}

fudge-stepper>.content>span,
fudge-digit {
  font-family: monospace;
  box-sizing: border-box;
}

fudge-number>.content input[type="text"] {
  font-family: monospace;
  text-align: left;
}

fudge-initializer>.content>button,
fudge-initializer>.content>.menu-container>.menu-toggle {
  --icon-actions: "<undefined>";
  --icon-width: fit-content;
}

fudge-initializer>.content>.menu-container>.menu-list {
  left: anchor(left);
}

fudge-initializer>.content,
fudge-boolean>.content,
fudge-color>.content,
fudge-stepper>.content,
fudge-comboselect>.content {
  display: inline-flex;
}

fudge-number input,
fudge-textinput input,
fudge-comboselect input,
fudge-select select {
  text-overflow: ellipsis;
  width: 100%;
}

/* custom vector */

custom-vector2>.content,
custom-vector3>.content {
  display: grid;
  column-gap: 1ch;
  grid-template-columns: max-content min-content min-content min-content;
}

custom-vector2 fudge-stepper>label,
custom-vector3 fudge-stepper>label {
  min-width: unset !important;
  margin-right: 1ch !important;
}

/* custom matrix */

custom-matrix3x3,
custom-matrix4x4 {
  /* display: grid; */
  /* grid-template-columns: minmax(0, 100%) min-content; */
  display: flex;
  /* position: relative; */
}

custom-matrix4x4>label {
  align-content: unset !important;
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  /* overflow: visible !important; */
  /* flex: 0 1 auto !important; */
  /* min-width: 0 !important; */
}

custom-matrix3x3>.content,
custom-matrix4x4>.content {
  margin-left: -10ch;
  /* order: 2; */
  /* grid-column: 1 / -1; */
}

custom-matrix4x4>.content {
  text-align: center;
  display: grid;
  column-gap: 1em;
  grid-template-columns: min-content min-content min-content min-content;
  grid-template-rows: min-content min-content min-content min-content;
}

custom-matrix3x3>.content {
  text-align: center;
  display: inline-grid;
  column-gap: 1em;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content min-content min-content min-content
}

custom-matrix4x4>.content>div,
custom-matrix3x3>.content>div {
  display: contents;
}